<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Lord of the Rings</title>
  </head>

  <body>
    <div id="app">
      <h1>Statistics</h1>
      <ul>
        <li v-for="(stat, type) in behaviourStatistics" :key="stat">
          {{type}}: {{ stat }}
        </li>
      </ul>
      <h1>How many times Roomy bit them?</h1>

      <ul>
        <li v-for="item in lotrCharacters" :key="item.id">
          <div>{{ item.name}} was bitten {{ item.lines}},</div>
          <div v-if="item.lines == 0">
            because Roomy is friend with {{item.race}}!!
          </div>
          <div v-else>because this is Roomy... hates {{item.race}}!!</div>
          <p><button @click="addFavoriteBite(item)">Favourite bite</button></p>
        </li>
      </ul>
      <div>
        <h3>Favorite bites:</h3>
        <ul v-if="favoriteBiteList.length > 0">
          <div v-for="item in favoriteBiteList" :key="item.id">
            {{ item.name }}
          </div>
        </ul>
        <p v-else>No favorite Roomy's bite exists!!</p>
      </div>
      <div>
        <h3>Add new character:</h3>
        <label for="character-name"> Name </label>
        <input
          id="character-name"
          type="text"
          @keyup.enter="addNewCharacter"
          v-model="newCharacter.name"
        />
      </div>
    </div>
  </body>
  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  <script>
    const { createApp } = Vue
    const app = createApp({
      data: () => ({
        favoriteBiteList: [],
        lotrCharacters: [
          {
            name: 'Frodo Baggins',
            race: 'Hobbit',
            lines: 688,
            id: '6d5a5c97-1428-4a8e-809f-10f05cca7424',
            element: ['idiot', 'stubborn', 'impolite'],
          },
          {
            name: 'Aragorn',
            race: 'Human',
            lines: 1201,
            id: '5c421b73-2c19-40bb-ab20-062d3824a9fa',
            element: ['egoistic', 'stubborn'],
          },
          {
            name: 'Gandalf',
            race: 'Maia',
            lines: 1006,
            id: '20937dd9-57ca-4f31-86cf-da691b8a9536',
            element: ['nerd', 'idiot'],
          },
          {
            name: 'Legolas',
            race: 'Elf',
            lines: 526,
            id: '666042be-94e3-4f64-a7f0-ee3bee66fad3',
            element: ['slobbery', 'nerd', 'stubborn', 'idiot'],
          },
          {
            name: 'Gimli',
            race: 'Dwarf',
            lines: 274,
            id: '02c7a8e8-0340-4a88-9fea-17730f7ec704',
            element: ['slobbery', 'nerd', 'stubborn', 'egoistic'],
          },
          {
            name: 'Gollum',
            race: 'Hobbit',
            lines: 247,
            id: '290d0b3f-a086-40c6-9d91-c1f660777903',
            element: ['slobbery'],
          },
          {
            name: 'Gwaihir',
            race: 'Eagle',
            lines: 0,
            id: '9163f2a6-8799-427b-8402-c4ab8edc6f93',
            element: ['butterfly'],
          },
        ],
        newCharacter: {
          name: '',
          race: 'God',
          lines: 0,
          id: '5678d5a5c97-1348-4a87-829f-5t0f05cca7443',
          element: ['butterfly'],
        },
      }),
      computed: {
        behaviourStatistics() {
          const elements = [
            'idiot',
            'stubborn',
            'impolite',
            'egoistic',
            'slobbery',
            'butterfly',
          ]
          const behaviorStatistic = {
            idiot: 0,
            stubborn: 0,
            impolite: 0,
            egoistic: 0,
            slobbery: 0,
            butterfly: 0,
          }

          this.lotrCharacters.forEach((character) => {
            elements.forEach((element) => {
              if (character.element.includes(element)) {
                behaviorStatistic[element] += 1
              }
            })
          })
          return behaviorStatistic
        },
      },
      methods: {
        addNewCharacter() {
          console.log(this.newCharacter)
          this.lotrCharacters.push(this.newCharacter)
          console.log(this.lotrCharacters)
          this.newCharacter = {
            name: '',
            race: 'God',
            lines: 0,
            id: '5678d5a5c97-1348-4a87-829f-5t0f05cca7443',
          }
        },
        addFavoriteBite(character) {
          this.favoriteBiteList.push(character)
        },
      },
    })
    app.mount('#app')
  </script>
</html>
